.root {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-style: double;
  border-radius: 8%;
  box-shadow: 2px 2px 10px 1px #00204a;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding: 15px 15px 15px 15px;
  width: 600px;
  font-family: "Cabin Condensed", sans-serif;
}

.title {
  text-align: center;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
  color: #00204a;
}
#city-search {
  text-align: center;
  width: 350px;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 3%;
  font-size: 18px;
}

#city-search-button {
  margin: 10px 10px 10px 150px;
  padding: 5px 5px 5px 5px;
  width: 125px;
  background-color: #fdb44b;
  border-color: #00204a;
  color: #00204a;
  font-size: 18px;
}

#city-search-button:hover {
  background-color: #00bbf0;
  color: white;
  transition: ease-in 100ms;
}

#current-city {
  color: #00204a;
  font-size: 30px;
  margin-left: 50px;
  text-align: center;
  text-transform: capitalize;
}

#time-date {
  color: #00204a;
  font-size: 20px;
  margin-left: 30px;
  margin-top: -15px;
  text-align: center;
}
#sunny-image {
  display: block;
  margin: 0 auto;
  width: 150px;
}

#current-location-button {
  background-color: #00bbf0;
  color: white;

  font-size: 18px;
  margin-left: 80px;
  width: 175px;
  font-size: 18px;
  text-align: center;
}

#current-location-button:hover {
  background-color: #fdb44b;
  border-color: #00204a;
  color: #00204a;
  transition: ease-in 100ms;
}
ul {
  list-style: none;
  color: #00204a;
}

.current-factors {
  list-style: none;
  color: #00204a;
}

.current-temperature {
  font-size: 50px;
  text-align: center;
  padding-right: 15px;
}

.current-description {
  font-size: 20px;
  text-align: center;
  padding-right: 15px;
}

.footer {
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}
